<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929344632687-lbplnv0okjemvvceoa73mgdqee0a551f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929344632687-lbplnv0okjemvvceoa73mgdqee0a551f</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ9PLKvfRsPG5T8pi-gciG2Vr567a1OMk</string>
	<key>GCM_SENDER_ID</key>
	<string>929344632687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.g4g.hostel</string>
	<key>PROJECT_ID</key>
	<string>hostelpergamino-3739c</string>
	<key>STORAGE_BUCKET</key>
	<string>hostelpergamino-3739c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929344632687:ios:7675060b2a005fdf1f1a9a</string>
</dict>
</plist>